.news{
  display: flex;
  column-gap: 0.5rem;
  margin-top: 2rem;
}

.news__img{
  width: 40%;
}

.news__number-heading{
  font-size: 2.5rem;
  color: hsl(233, 8%, 79%);
  margin-bottom: 0.5rem;
}

.news__heading{
  color: hsl(240, 100%, 5%);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.news__heading:hover{
  color: hsl(5, 85%, 63%);
}

.news__paragraph{
  max-width: 15rem;
  line-height: 1.5;
  color: hsl(236, 13%, 42%);
}

@media (max-width: 768px) {
  .news__img{
    width: 20%;
  }
}

@media (max-width: 425px) {
  .news__img{
    width: 30%;
  }
}